.button {
  @include resetLinkStyles;
  width: 191px;
	height: 47px;
  border-radius: 24px/23px 23px 24px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: #ffffff;
  background-color: #f7a03d;
  // background-image: linear-gradient(-45deg, #fbb86b, #f7a03d 77%);
  background-image: linear-gradient(-45deg, #fbb86b 0%, #f7a03d 55%, #fbb86b 77%);
  background-position: 100% 0;
  background-size: 200% 200%;
  transition: background-position 0.5s ease;
  box-shadow: 0 6px 10px rgba(215,128,26,.35);
  &:hover {
    background-position: 0 0;
  }
  &--header {
    width: 146px;
	  height: 40px;
    margin: 20px 0 25px;
    border-radius: 20px;
    // padding: 12px 24px;
    font-size: 14px;
    font-weight: 900;
    background-color: #3d6bc7;
    // background-color: #224e9c;
    // background-image: linear-gradient(45deg, #38b2da 0%, #38b2da 55%, #3d6bc7 90%);
    background-image: linear-gradient(-45deg, #38b2da 0%, #3d6bc7 55%, #38b2da 77%);
    box-shadow: none;
    // display: none;
    @include tablet-min {
      // display: inline-block;
    }
  }
  &--footer {
    width: 100px;
	  height: 26px;
    border-radius: 13px;
    font-size: 12px;
    color: #09334c;
    background-color: #becad3;
    // background-color: #fff;
    background-image: linear-gradient(-45deg, #f3fafe 0%, #f3fafe 55%, #becad3 90%);
    box-shadow: none;
    @include desktop-min {
      width: 115px;
  	  height: 30px;
      border-radius: 15px;
    }
  }
  &--scroll {
    visibility: hidden;
    position: absolute;
    left: 30px;
    bottom: 25px;
    width: 31px;
  	height: 31px;
  	border-radius: 16px 15px 15px 16px/16px 16px 15px 15px;
  	background-color: #a2d9f7;
  	// background-image: linear-gradient(-17deg, #38b2da, #3d6bc7 77%);
    background-image: linear-gradient(-45deg, #38b2da 0%, #3d6bc7 55%, #38b2da 77%);
    box-shadow: none;
    @include tablet-min {
      visibility: visible;
    }
    @include tv-min {
      left: 50px;
    }
    svg {
      fill: #ffffff;
    }
  }
}
