-
    var defaultPageTitle = 'Vintage web production';
    var phoneNumber = "(617) 888-9692";
    var homeTitle = "Leave the logistics to us";
    var homeText = "Scroll to explore";
    var aboutTitle = "Who we are";
    var aboutText = "Rainier is the dynamically growing logistics and transportation company, spanning thousands of locations in North America. We provide a full range of transportation services for both common and unusual freight, delivering time-sensitive and customized solutions."
    var copyrightText = "© 2017 Rainier";
    var socialLink1 = "linkedin-logo";
    var socialLink1URL = "https://linkedin.com";
    var socialLink2 = "facebook-logo";
    var socialLink2URL = "https://facebook.com";
    var socialLink3 = "twitter-logo";
    var socialLink3URL = "https://twitter.com";
