.icon-arrow {
  width: 0.94em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-facebook-logo {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-facebook {
  width: 0.54em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-linkedin-logo {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-linkedin {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-logo-footer {
  width: 4.35em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-logo-header {
  width: 4.3em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-logo {
  width: 4.42em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-menu {
  width: 2em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-nav {
  width: 0.05em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-page-navigation {
  width: 0.06em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-path {
  width: 0.04em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-twitter-logo {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-twitter {
  width: 1.23em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-vintage-logo {
  width: 0.73em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
